ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #b5b9bf;*/
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.link
{
	/*float: left;*/
  display: block;
  color: white;
  /*text-align: center;*/
  padding: 14px 16px;
  text-decoration: none;
}

.notification
{
	height: 30px;
	width: 25px;
	margin-left: 350px;
	margin-top: 10px;

}
.active
{
	margin-left: 100px;
	border:none;
	background-color: unset;
  margin-top: 6px;
}
.logo
{
	height: 50px;
	width: 50px;
	margin-left: 350px;
}
.logout
{
	color: blue;
}
.font_size_logo
{
	font-size: 38px;
}
.menu_icon
{
	height: 35px;
	width: 25px;
}

.tempareture_image
{
	height: 20px;
	width: 20px;
}
.signal
{
	height: 40px;
	width: 40px;
	margin-left: 15px;
}
.wish
{
	margin-top: 70px;
}
.color
{
	margin: 5px;
	margin-top: 80px;
	background-color:#a9afba;
	height: 100px;
    width: 120px;
    padding:25px;
}
.event> div
{
	margin: 5px;
	margin-top: 25px;
	background-color:white;
	height: 180px;
	padding-top: 25px;
}
body
{
	background-color: #d0d6e0;
}
body> div
{
	font-size: 20px;
}
.calendar
{
	position: absolute;
	left: 990px;
    top: 260px;
    font-size: 20px;
}
table
{
	background-color: white;
}
th
{
	background-color:#c8cace;
}
.month
{
	background-color: #e6e8ed;
}
.event_p
{
	width: 500px;
}
.icon
{
	height: 20px;
	width: 20px;
}
.month
{
	margin-left: 60px;
    margin-right: 60px;
}
.helight
{
	background-color: #62acaf;
}
.event_image
{
    height: 120px;
    width: 120px;
   
}
.container
{
	font-size:20px;
}
.font_size
{
	font-size: 16px;
}
.overlay {
  position: absolute; 
  color: #f1f1f1;
  top: 0px;
  left: 596px; 
  width: 280px;
  height: 180px;
  background-color: white;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  z-index: 2;
  padding: 20px;
  text-align: center;
}
.event1:hover .overlay{
  opacity: 1;
}
.event2:hover .overlay{
  opacity: 1;
}
.event3:hover .overlay{
  opacity: 1;
}
.btn-info
{
	width: 110px;
    height: 50px;
}
.btn-infoe
{
	width: 70px;
    height: 30px;
    margin-top: 40px;
    margin-left: 70px;
    background-color: #94cafc;
    border-radius: 50px;
}
.btn-infod
{
	width: 90px;
    height: 30px;
    background-color: #94cafc;
    margin-left: 70px;
    border-radius: 50px;
}
.edit_icon
{
	height: 10px;
	width: 10px;
}
.Create_event_btn
{
	width: 140px;
    height: 35px;
    border-radius: 50px;
    margin-top: 15px;
}