.modal-content
{
	background-color: #dbdcdd;
}
.container-size
{
	width: 300px;
	background-color: white;
}
.Forgot_password
{
	margin-left: 130px;
}
#email
{
	padding: 10px;
	width: 240px;
}
.password
{
	padding: 10px;
	width: 240px;
}
.btn-size
{
	width: 150px;
	height: 40px;
	font-weight: bold;
	border-radius: 50px;
	margin-left: 50px;
}
.btn-size1
{
	width: 50px;
	height: 20px;
	background-color: gray;
  color: white;
  margin-left: 20px;
  font-size: 10px;
    border-radius: 50px;
}
.logo
{
	float: left;
	height: 50px;
	width: 50px;
	margin-top: -10px;
	margin-right: 20px;
	margin-left: 50px;
}
.container
{
	margin-top: 100px;
	color: #636870;
	background-color: #dbdcdd;
}
.btn-color
{
	background-color: gray;
    color: white;
}
.btn-size
{
    width: 130px;
    height: 40px;
    font-weight: bold;
    border-radius: 50px;
    margin-left: 70px;
}
b
{
	color: #313233;
}
h2
{
	margin-left: 70;
	font-size: 35px;
}
img
{
	float: left;
	height: 50px;
	width: 50px;
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 50px;
}
body{
	background-color: #dbdcdd;
}